{% if request.user.is_authenticated%}
    <a href="{% url 'carro:carrito' %}"">carrito</a>
{% endif %}
<br>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>

{% endif %}
<table border="3px solid purple">
    <thead>
        <tr>
            <th>nombre</th>
            <th>imagen</th>
            <th>añadir</th>
        </tr>
    </thead>
{% for producto in productos %}    
        <tbody>
            <tr>
                <th>{{producto.nombre_producto}}</th>
                <th><img src="{{producto.imagen.url}}" alt="" width="200px"></th>
                <th><a href="{% url 'carro:agregar' producto.ID_producto %}">carro</a></th>
            </tr>
        </tbody>
    
{% endfor %}
</table>
